<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fuild" style="width: 90%;">
    <a routerLink="/" class="navbar-brand">
        <img src="./assets/img/logo1.png" alt="logo" id="logo" style="height: 40px; width:100px;">Amazon
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" style="float: right; margin-left:50px; width:70%;" class="collapse navbar-collapse flex-column" id="navbarNav">
      <div class="input-group ">
          <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" (keyup.enter)="search()">
          <span id="searchBtn" class="bg-warning" (click)="searh()" style="width: 5%;">
            <i class="fa fa-search" style="top:5px; left:10px; position : relative;"></i>
          </span>
      </div>
      <div class="w-100">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
          </li>
          <li class="nav-item ml-0 ml-md-auto" ngbDropdown #dropdown="ngbDropdown">  
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token">Account</span>   
              <span *ngIf="data.user">{{data.user.name}}</span>
            </a>

            <div ngbDropdownMenu class="dropdown-menu">
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user-circle" aria-hidden="true"></i>Profile
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i>login
              </a>
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i>Logout
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                <i class="fa fa-group" aria-hidden="true"></i>Register
              </a>
            </div>
          </li>
          <li class="nav-item ml-0 ml-md-0">
            <a (click)="collapse()" routerLink="/cart" routerLinkActive="true" class="nav-link">
              <i class="fa fa-shopping-cart mr-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="bg-main text-white mt-5 p-5" id="main-footer">
  <div class="container">
    <p class="lead text-center">Copyrith &copy; NTIECHE MFOUM ISSOFA.... Amazon 2019</p>
  </div>
</footer>
